block goInit

block variables
//- Variables that ca be set in extending views


doctype
html(theme="dark")
    head
        title= title
        block styles
            link(rel='stylesheet', href='dist/web_lib/stylesheets/menu.css')
            link(rel='stylesheet', href='dist/web_lib/stylesheets/body.css')
            link(rel='stylesheet', href='dist/web_lib/stylesheets/plugins.css')

    body
        block header
            header
                .header
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='#news') News
                        li
                            a(href='#contact') Contact


                    .absolute-center
                        h1 Study Manager

                    .dropdown
                        button.dropbtn User Account
                        .dropdown-content
                            a(href='/login') Login
                            a(href='/profile') Account
                            a(href='#') Edit Plugins
                            a(href='#') Settings


        .content
            block content

        block scripts