block goInit

block variables
//- Variables that ca be set in extending views


doctype
html(theme="dark")
    head
        title= title
        block styles
            link(rel='stylesheet', href='dist/web_lib/stylesheets/menu.css')
            link(rel='stylesheet', href='dist/web_lib/stylesheets/body.css')
            link(rel='stylesheet', href='dist/web_lib/stylesheets/plugins.css')

    body
        block header
            header
                .header
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='#news') News
                        li
                            a(href='#contact') Contact


                    .absolute-center
                        h1 Study Manager

                    .dropdown
                        if header.LoggedIn
                            button.dropbtn #{header.UserName}
                            .dropdown-content
                                a(href="/logout") Sign out
                                a(href='/profile') Your Profile
                        else
                            //- TODO: Style
                            ul
                                li
                                    a(href="/login") Login
                                li
                                    a(href="/register") Register
                            

        .content
            block content

        block scripts
