block goInit

block variables
//- Variables that ca be set in extending views


doctype
html(theme="dark")
    head
        title= title
        block styles

    body
        block header

        block content

        block scripts