extends ../web_lib/layout
include  ../web_lib/plugins

block goInit
    :go:func Homepage(plugins []PluginTemplateData)

block variables
    - var title= "Homepage"

append styles
    link(rel='stylesheet', href='dist/homepage/home.css')

append scripts
    script(src="/dist/homepage/home.js")


block content
    // Desktop Application Abschnitt
    .box.box-2.box-2-left.boxTop
        .box-header
            h2 Desktop Applikation
        .box-content
            .slideshow-container
                // Full-width images with number and caption text
                .mySlides.fade
                    img(src='/dist/res/JavaApplication.png' style='width:100%; height:400px')
                    .text Plugin Verwaltung
                .mySlides.fade
                    img(src='/dist/res/TutorialBSP.jpg' style='width:100%; height:400px ')
                    .text WebView
                // Next and previous buttons
                a.prev(onclick='plusSlides(-1)') &#x276E;
                a.next(onclick='plusSlides(1)') &#x276F;

        .box-footer.navigationContainer
            a.btn.navigationButton(href="/downloadApplication") Download Study Manager

    .box.box-2.box-2-right.boxTop
        .box-header
            h2 User Guide
        .box-content
            .descriptionText
                | Brauchen sie hilfe bei mit der Applikation? Hier finden Sie eine Anleitungen zu den
                | verschiedenen Funktionen des Study Manager.
            div
                img.imagePhoto(src='/dist/res/TutorialBSP.jpg')
        .box-footer.navigationContainer
            a.btn.navigationButton(href="/userGuide") User Guide

    //- Plugins
    .box.box-1
        .box-header
            h2 Plugin Suche
        .box-content
            .container
                .container__item
                    form.form(action="/marketplace" method="GET")
                        input.form__field(type='text' placeholder='search term' name="search")
                        input.btn.btn--primary.btn--inside(type='submit' value="Search")
    .box.box-1
        .box-header
            h2 Plugins
        .box-content
            .pluginsList
                for plugin in plugins
                    +Plugin(plugin)
        .box-footer.navigationContainer
            a.btn.navigationButton(href="/marketplace") Browse All Plugins

    // Developer Guide Abschnitt
    .box.box-3-left.box-guide
        img.CENTERPhoto(src='/dist/res/Quellcode_Image.jpg')
    .box.box-3-mid.box-guide
        .box-header
            h2 Dev Guide
    .box.box-3-right.box-guide
        .box-header
            h2 Example Dev Guide

    .boxContainer
        .row
            .box-new 1/2
            .box-new 2/2
        .row
            .box-new 1/1
                p 1/3 width
                p Some Text
                p Multi  sadd
                p Line
                p text
                p Amazing! asdjasd
        .row
            .box-new 1/3
            .box-new 2/3
                p Amazing! asdjasd
                h2 Hello World
            .box-new 3/3