extends ../web_lib/layout

block goInit
    :go:func Login()

block variables
    - var title= "Login"

append styles
    link(rel='stylesheet', href='dist/login/login.css')

block content
    form.login-form(method='post' action='/userLogin')
        h1  Login
        .txtb
            input(name='username' type='text' placeholder='Username')
        .txtb
            input(name='password' type='password' placeholder='password')
        button.logbtn(type='submit') Login
        .bottom-text
            | Don&apos;t have account?
            a(href='/register') Sign up

