extends ../web_lib/layout

block goInit
    :go:func Marketplace(plugins []PluginTemplateData, searchValue string)

block variables
    - var title= "Marketplace"

append styles
    link(rel='stylesheet', href='dist/marketplace/marketplace.css')

block content

    .search
        form(action="/marketplace" method="GET")
            input(type="text" placeholder="name, author, tag, ..." name="search", value=searchValue)
            //- TODO: Replace with icon
            input.btn(type="submit" value="Search")

    for plugin in plugins
        a.plugin(href='/plugins/info/' + plugin.Name + "/html")
            .title
                .icon
                    img(src='/plugins/info/' + plugin.Name + '/img/icon.png')
                .name #{plugin.Name}
            .description #{plugin.ShortDescription}
            .preview
                img(src='/plugins/info/' + plugin.Name + '/img/preview/preview_1.jpg')
