@import "../web_lib/stylesheets/color_themes"

.search
  width: 500px
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  form
    width: 100%
    input
      font-size: 1.3em

      &[type="text"]
        width: 300px



.plugin
  border: 2px solid var(--color-border-default)
  width: 250px
  float: left
  margin: 20px
  color: var(--color-font-default)
  background: var(--color-elevation-10)
  text-decoration: none
  box-shadow: var(--box-shadow-default)

  &:hover
    border: 2px solid var(--color-border-weaken)
    cursor: pointer

  &:active
    color: var(--color-font-default)
    background: var(--color-elevation-20)

  .title
    padding: 10px
    height: 32px

    .icon
      width: 32px
      float: left

      img
        width: 100%
        height: 100%
        object-fit: contain
    .name
      line-height: 32px
      display: inline-block
      height: 100%
      width: calc(100% - 32px)
      text-align: center
  .description
    border-top: 1px solid rgba(107, 103, 103, 0.5)
    border-bottom: 2px solid rgba(107, 103, 103, 0.5)
    padding: 10px

  .preview
    img
      width: 100%
      object-fit: contain