

body
  background-image: linear-gradient(120deg,  #3498db, #8e44ad)



.Position
  position: absolute
  left: 5%
  top: 20%
  width: 200px

.logbtn
  display: block
  width: 100%
  height: 50px
  background: linear-gradient(240deg,  #8e44ad, #6d00cc, #8e44ad)
  color: #fff
  border-color: white
  border-width: 1px
  border-radius: 5px
  margin: 5px


.Plugins
  width: 70%
  height: 500px
  background-color: red
  position: absolute
  left: 25%
  top: 10%

.Account
  width: 70%
  height: 500px
  background-color: green
  position: absolute
  left: 25%
  top: 10%
