extends ../web_lib/layout

block goInit
    :go:func TabInfo(body string, tabName string)

block variables
    - var title= 'Tab Info: ' + tabName

append styles
    link(rel='stylesheet', href='markdown.css')
    link(rel='stylesheet', href='tab_info.css')

block content
    - var riskyBusiness = body;
    .info !{riskyBusiness}

